@media (max-width: 768px) {

    header {
        padding: 20px 20px;
    }

    #none {
        display: none;
    }

    header h1 a {
        font-size: 30px;
        padding: 15px;
        color: white;
        font-weight: 100;
    }

    header nav a {
        font-size: 20px;
    }

    #menuh {
        display: none;
    }

    #menuh ul {
        display: flex;
        justify-content: space-around;
        padding-left: 20px;
        animation-duration: 1s;
        animation-name: apear;
    }

    @keyframes apear {
        from {
            display: none;
            opacity: 0;
        }

        to {
            display: block;
            opacity: 1;
        }
    }

    #menuh:target {
        display: flex;
    }

    .MouseScroll {
        display: none;
    }

    #text {
        font-size: 30px;
    }

    .parallax {
        height: 40vh;
    }

    .whatisframe {
        padding: 50px;
    }

    .whatisframe h2 {
        font-size: 35px;
    }

    .whatisframe p {
        font-size: 16px;
    }

    .frontend {
        padding: 50px 50px 20px 50px;
    }

    .frontend h2 {
        font-size: 35px;
    }

    .frontend p {
        font-size: 16px;
    }

    .linkto {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .linkto div {
        width: 300px;
        margin: 20px;
    }

    .linkto div a {
        font-size: 16px;
    }

    .row {
        padding: 15px;
    }

    .row h3 {
        font-size: 16px;
    }

    .row li {
        font-size: 12px;
    }

    .row li a {
        font-size: 12px;
    }

    .logosocialmedia {
        padding: 15px;
    }

    .logosocialmedia h3 {
        font-size: 16px;
    }

    .logosocialmedia ul img {
        height: 38px;
        width: 38px;
    }

    .copyright {
        padding: 20px 10px;
    }

    .copyright p {
        font-size: 12px;
    }

}