@media (max-width: 768px) {

    header {
        padding: 10px 10px;
    }

    #none {
        display: none;
    }

    header h1 {
        display: flex;
    }

    header h1 a {
        font-size: clamp(10px, 3vw, 20px);
        padding: 10px;
        color: white;
        font-weight: 100;
    }

    header nav a {
        font-size: clamp(10px, 3vw, 20px);
        margin-right: 0;
        margin: 10px;
    }

    #menuh {
        display: none;
    }

    #menuh ul {
        padding-left: 20px;
        animation-duration: 1s;
        animation-name: apear;
    }

    @keyframes apear {
        from {
            display: none;
            opacity: 0;
        }

        to {
            display: block;
            opacity: 1;
        }
    }

    #menuh:target {
        display: flex;
    }

    .MouseScroll {
        display: none;
    }

    #text {
        font-size: 4vw;
    }

    .parallax {
        height: 40vh;
    }

    .whatisframe {
        padding: 20px;
    }

    .whatisframe h2 {
        font-size: 6vw;
    }

    .whatisframe p {
        font-size: 4vw;
        line-height: 1.5;
    }

    .frontend {
        padding: 20px;
    }

    .frontend h2 {
        font-size: 6vw;
    }

    .frontend p {
        font-size: 4vw;
    }

    .linkto {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .linkto div {
        width: 300px;
        margin: 20px;
    }

    .linkto div a {
        font-size: 4vw;
    }

    .row {
        padding: 15px;
        text-align: center;
    }

    .row h3 {
        font-size: 3vw;
    }

    .row li {
        font-size: 2vw;
    }

    .row li a {
        font-size: 2vw;
    }

    .logosocialmedia {
        padding: 10px;
    }

    .logosocialmedia h3 {
        font-size: 3vw;
    }

    .logosocialmedia ul img {
        height: 30px;
        width: 30px;
    }

    .copyright {
        padding: 20px 10px;
    }

    .copyright p {
        font-size: 2vw;
    }

}