@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
/* font-family: 'Wallpoet', cursive; */

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    overflow-x: hidden;
}

header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: flex-start;
    padding: 50px 40px;
    align-items: center;
    z-index: 100;
    width: 100%;
}

header nav ul {
    display: flex;
    padding-left: 100px;
}

header nav ul li {
    list-style-type: none;
}

header nav a {
    position: relative;
    text-decoration: none;
    margin-right: 50px;
    color: #359381;
    font-weight: 600;
    font-size: clamp(10px, 2vw, 25px);

}

header nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: #359381;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .6s;
}

header nav a:hover::after {
    transform: scaleX(1);
}

header h1 a {
    font-weight: 100;
    text-decoration: none;
    font-size: 35px;
    color: white;
    background: #359381;
    border-radius: 50px;
    padding: 20px;
    border: none;
}

header h1 a:hover {
    color: #359381;
    background: white;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.MouseScroll {
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 100px;
    height: 100px;
    margin: 0 0 0 -50px;
    z-index: 2;
}

path.MouseScroll--chevron {
    animation: ChevronAnimation 3s ease infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: ChevronAnimation;
    transform: translateY(3px);
}

@keyframes ChevronAnimation {
    0% {
        transform: translateY(3px);
        opacity: 1;
    }

    50% {
        transform: translateY(8px);
        opacity: 0;
    }

    60% {
        transform: translateY(3px);
        opacity: 0;
    }
}

#text {
    position: absolute;
    font-size: 3vw;
    color: white;
    text-shadow: 5px 2px 8px rgba(0, 0, 0, .5);
}

.green {
    position: relative;
    background: #003329;
}

.whatisframe {
    position: relative;
    padding: 3% 7% 3% 7%;
}

.whatisframe h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.whatisframe p {
    color: white;
    font-weight: 100;
    padding: 10px 0px;
}

.frontend {
    position: relative;
    background: white;
    padding: 3% 7% 3% 7%;
    text-align: end;
}

.frontend h2 {
    font-size: 50px;
    color: #003329;
    margin-bottom: 20px;
}

.frontend p {
    color: #003329;
    font-weight: 100;
    padding: 10px 0px;
}

.linkto {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

}

.linkto div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 40px;
    transition: transform .2s;
}

.linkto div:hover {
    transform: scale(1.1);
}

.linkto div a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: #003329;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 20px;

}


footer {
    background: #003329;
    position: relative;
    color: white;
}

footer h3 {
    font-size: 20px;
    padding-bottom: 10px;
}


footer ul li {
    list-style-type: none;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.row {
    display: flex;
    justify-content: space-around;
    padding: 35px;
    border-bottom: 1px solid #ffffff;
}

.row li a {
    font-size: 15px;
}

.row li a:hover {
    text-decoration: underline;
}

.row ul {
    padding-inline-start: 0px;
}

.logosocialmedia {
    padding: 20px;
    border-bottom: 1px solid #ffffff;
}

.logosocialmedia h3 {
    text-align: center;
}

.logosocialmedia ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.logosocialmedia ul img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    transition: transform 0.4s;
}

.logosocialmedia ul img:hover {
    transform: translatey(-10px);
}

.copyright {
    text-align: center;
    padding: 30px 0px 20px 0px;
}

.copyright p a {
    text-decoration: none;
    color: #359381;
}